<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="include/css :: head"></div>

<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">mail_outline</i>
                                </div>
                                <h4 class="card-title">Demande de certificat</h4>
                            </div>
                            <div class="card-body ">
                                <form method="POST" action="#" th:object="${demandeCertificatMedical}" th:action="@{/createDemandeCertificat}">
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Medecin" th:field="*{medecin}" required>
                                            <option th:each="medecin : ${medecinListC}" th:value="${medecin.id}" th:text="${medecin.nom}"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Type Certificat" th:field="*{typeCertification}" required>
                                            <option th:each="type : ${typeCertList}" th:value="${type.id}" th:text="${type.type}"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Patient" th:field="*{patient}" required>
                                            <option th:each="patient : ${patientList}" th:value="${patient.id}" th:text="${patient.nom}"></option>
                                        </select>
                                    </div>
                                    <div class="card-footer ">
                                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                    </div>
                                    <div class="form-group has-success" th:if="${demandeSuccess != null}">
                                        <span class="alert text-success" th:text="${demandeSuccess}"> </span>

                                    </div>
                                    <div class="form-group has-danger" th:if="${demandeFail != null}">
                                        <span class="alert text-danger" th:text="${demandeFail}"> </span>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--   Core JS Files   -->
<div th:replace="include/js :: js"></div>
</body>

</html>