<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-text card-header-warning">
                                <div class="card-text">
                                    <h4 class="card-title">Demandes Certificat</h4>
                                    <p class="card-category">Meow Meow Invasionnnnnnn !</p>
                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>CIN</th>
                                    <th>Type certificat</th>
                                    <th>Statut</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="demande : ${allDemandes}">
                                        <td th:text="${demande.patient == null ? '' : demande.patient.nom}"></td>
                                        <td th:text="${demande.patient == null ? '' : demande.patient.prenom}"></td>
                                        <td th:text="${demande.patient == null ? '' : demande.patient.cin}"></td>
                                        <td th:text="${demande.typeCertification == null ? '' : demande.typeCertification.type}"></td>
                                        <td th:text="${demande.status == 0 ? 'En cours' : 'Accordée'}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-text card-header-warning">
                                <div class="card-text">
                                    <h4 class="card-title">Creer Certificat</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <form method="POST" th:action="@{/createCertificat}" th:object="${certificatMedical}" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"></div>
                                            <label class="bmd-label-floating">Medecin </label>
                                            <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Medecin" th:field="*{medecin}">
                                                <option th:each="medecin : ${medecinList}" th:value="${medecin.id}" th:text="${medecin.nom} + ' ' + ${medecin.prenom}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"></div>
                                            <label class="bmd-label-floating">Patient </label>
                                            <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Patient" th:field="*{patient}">
                                                <option th:each="patient : ${patientList}" th:value="${patient.id}" th:text="${patient.cin} + ' ' + ${patient.nom} + ' ' + ${patient.prenom}"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-3">
                                            <div class="form-group"></div>
                                            <label class="bmd-label-floating">Type Certificat </label>
                                            <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Type Certificat" th:field="*{typeCertification}">
                                                <option th:each="type : ${typeCertList}" th:value="${type.id}" th:text="${type.type}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"></div>
                                            <label class="bmd-label-floating">repos</label>
                                            <textarea class="form-control" rows="5" th:field="*{repos}"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-rose pull-right">Sauvegarder</button>
                                    <div class="clearfix"></div>
                                    <div class="form-group has-success" th:if="${certificatSuccess != null}">
                                        <span class="alert text-success" th:text="${certificatSuccess}"> </span>

                                    </div>
                                    <div class="form-group has-danger" th:if="${certificatFail != null}">
                                        <span class="alert text-danger" th:text="${certificatFail}"> </span>

                                    </div>
                                    <div class="form-group has-danger" th:if="${demandeNotThere != null}">
                                        <span class="alert text-danger" th:text="${demandeNotThere}"> </span>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div th:replace="include/footer :: footer"></div>
    </div>
</div>
<div th:replace="include/js :: js"></div>
</body>
</html>