<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="include/css :: head"></div>
<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
       <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <h4 class="card-title">Agenda</h4>
                            </div>
                            <div class="card-body">
                                <div class="toolbar" sec:authorize="hasAuthority('MEDECIN')">
                                    <a th:href="@{/agenda/create}" class="btn btn-primary">Add Event</a>
                                </div>
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Evenement</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th>Médecin</th>
                                            <th sec:authorize="hasAuthority('MEDECIN')" class="disabled-sorting text-right">Action</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Evenement</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th>Médecin</th>
                                            <th sec:authorize="hasAuthority('MEDECIN')" class="text-right">Action</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr th:each="agenda : ${agendaMedecin}">
                                            <td th:text="*{agenda.description}"></td>
                                            <td th:text="*{agenda.dateDebut} + ' to '+ *{agenda.dateFin}"></td>
                                            <td th:text="*{agenda.heureDebut == null ? 'N/A' : agenda.heureDebut} + ' to ' + *{agenda.heureFin == null ? 'N/A' : agenda.heureFin}"></td>
                                            <td th:text="*{agenda.medecin == null ? '' : agenda.medecin.prenom + '  '+ agenda.medecin.nom}"></td>
                                            <td sec:authorize="hasAuthority('MEDECIN')" class="td-actions text-right">
                                                <a th:href="@{/agenda/modify/{id}(id = ${agenda.id})}" rel="tooltip" class="btn btn-link btn-success btn-just-icon success" >
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a th:href="@{/agenda/delete/{id}(id = ${agenda.id})}" onclick="return confirm('Etes vous sure ?');" class="btn btn-link btn-info btn-just-icon remove">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/js :: js"></div>
</body>
<script>
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        var table = $('#datatable').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });
    });
</script>

</html>