<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <h4 class="card-title">Mes demandes de Conges</h4>
                            </div>
                            <div class="card-body material-datatables">
                                <div class="table-responsive">
                                    <table id="datatables" class="table" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Specialite</th>
                                            <th>Date</th>
                                            <th>Jours demandes</th>
                                            <th>Statut</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Specialite</th>
                                            <th>Date</th>
                                            <th>Jours demandes</th>
                                            <th>Statut</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                        <tbody>
                                        <tr th:each="conges : ${congesList}">
                                            <td th:text="${conges.medecin == null ? '' : conges.medecin.prenom + ' ' + conges.medecin.nom}"></td>
                                            <td th:text="${conges.medecin == null ? '' : conges.medecin.specialite}"></td>
                                            <td th:text="${conges.date}"></td>
                                            <td th:text="${conges.nbrJours}"></td>
                                            <td th:text="${conges.reponse}"></td>
                                            <td class="td-actions text-right">
                                                <a th:href="@{/conges/accept/{id}(id=${conges.id})}" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                                    <i class="fas fa-check-circle fa-4x" style="color:green;font-size:20px"></i>
                                                </a>
                                                <a th:if="${conges.reponse == 'En cours'}" th:href="@{/conges/refuse/{id}(id=${conges.id})}" rel="tooltip" class="btn btn-danger btn-round" data-original-title="" title="">
                                                    <i class="material-icons">close</i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/js :: js"></div>
</body>
<script>
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        var table = $('#datatable').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });
    });
</script>

</html>