<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body class=" ">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Dossier Médicale -
                                    <small class="description" th:text="${dossier.patient == null ? '' : dossier.patient.prenom + ' ' + dossier.patient.nom}"></small>
                                </h4>
                            </div>
                            <div class="card-body ">
                                <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                            Dossier Medical
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                            Consultation
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Nom Patient</label>
                                                            <input type="text" th:value="${dossier.patient == null ? '' : dossier.patient.prenom + ' ' + dossier.patient.nom}" class="form-control" disabled="disabled" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Antecedants</label>
                                                                <textarea th:text="${dossier.antecedent}" class="form-control" rows="4" disabled="disabled" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Observations</label>
                                                                <textarea th:text="${dossier.observations}" class="form-control" rows="4" disabled="disabled" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="tab-pane" id="link2">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Motif</th>
                                                    <th>Diagnostique</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="consultation : ${consultations}">
                                                    <td th:text="${consultation.rendezvous.dateRv}"></td>
                                                    <td th:text="${consultation.motif}"></td>
                                                    <td th:text="${consultation.diagnostique}"></td>
                                                    <td class="td-actions">
                                                        <a th:href="@{/consultation/show/{id}(id=${consultation.id})}" rel="tooltip" class="btn btn-success btn-link" href="" data-original-title="" title="">
                                                            <i class="material-icons">visibility</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a  rel="tooltip" class="btn  btn-link btn-info " href="" data-original-title="" title="">
                                                            <i class="material-icons">edit</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                        <a  onclick="return confirm('Etes-vous sur de vouloir supprimer ce dossier ?');" rel="tooltip" class="btn btn-success btn-link btn-danger" href="" data-original-title="" title="">
                                                            <i class="material-icons">delete</i>
                                                            <div class="ripple-container"></div>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/js :: js"></div>

</body>
</html>