<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body class=" ">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Consultation -
                                    <small class="description">Créer une consultation</small>
                                </h4>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active">
                                        <form method="POST" th:action="@{/createConsultation}" th:object="${consultation}">

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Faite pour le patient :</label>
                                                            <div class="col-lg-5 col-md-6 col-sm-3">
                                                                <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Patient" th:field="*{rendezvous}" required>
                                                                    <option th:each="rendezvous : ${rendezList}" th:if="${rendezvous.medecin.id == #authentication.principal.id}" th:value="${rendezvous.id}" th:text="${rendezvous.patient.nom + ' - Heure : ' + rendezvous.heure}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Motif / Raison de visite</label>
                                                            <input type="text" class="form-control" th:field="*{motif}" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Diagnostique Médical</label>
                                                                <textarea class="form-control" rows="4" th:field="*{diagnostique}" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Résultat de l'examen Clinique </label>
                                                                <textarea class="form-control" rows="4" th:field="*{resultatExmentClinique}" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                <label class="bmd-label-floating">Remarques </label>
                                                                <textarea class="form-control" rows="4" th:field="*{remarques}" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">poids </label>
                                                            <input type="number" class="form-control" th:field="*{poids}" placeholder="En KG">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">taille</label>
                                                            <input type="number" class="form-control" th:field="*{talle}" placeholder="En mètre">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">IMC</label>
                                                            <input type="text" class="form-control" th:field="*{imc}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Température(°C) </label>
                                                            <input type="number" class="form-control" th:field="*{temperature}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Fréquence cardiaque</label>
                                                            <input type="number" class="form-control" th:field="*{frequenceCardiaque}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Pression artérielle</label>
                                                            <input type="number" class="form-control" th:field="*{pressionArterielle}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-rose pull-right">Sauvegarder</button>
                                            <div class="clearfix"></div>

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/js :: js"></div>

</body>
</html>