<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/img/apple-icon.png" th:href="@{/assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" href="../../static/assets/img/favicon.png" th:href="@{/assets/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Welp, time to work on this
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../static/assets/css/material-dashboard.css?v=2.1.2" th:href="@{/assets/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../static/assets/demo/demo.css" rel="stylesheet" th:href="@{/assets/demo/demo.css}"/>
</head>

<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">mail_outline</i>
                                </div>
                                <h4 class="card-title">Stacked Form</h4>
                            </div>
                            <div class="card-body ">
                                <form method="POST" action="#" th:object="${patient}" th:action="@{/createPatient}">
                                    <div class="form-group">
                                        <label for="exampleEmail" class="bmd-label-floating">Email Address</label>
                                        <input type="email" class="form-control" id="exampleEmail" th:field="*{email}" required>
                                    </div>
                                    <div class="form-group has-danger" th:if="${emailExist != null}">
                                        <span class="alert text-danger" th:text="${emailExist}"> </span>

                                    </div>
                                    <div class="form-group">
                                        <label for="examplePass" class="bmd-label-floating">Password</label>
                                        <input type="password" class="form-control" id="examplePass" th:field="*{password}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="nom" class="bmd-label-floating">First Name</label>
                                        <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="prenom" class="bmd-label-floating">Last Name</label>
                                        <input type="text" class="form-control" id="prenom" th:field="*{prenom}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="cin" class="bmd-label-floating">CIN</label>
                                        <input type="text" class="form-control" id="cin" th:field="*{cin}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="dateNaissance" class="bmd-label-floating">Date Naissance</label>
                                        <input type="date" class="form-control" id="dateNaissance" th:field="*{dateNaissance}" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" required>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Region" th:field="*{region}" required>
                                            <option value="Agadir" th:value="'Agadir'" th:text="Agadir"></option>
                                            <option value="Souss Massa" th:value="'Souss Massa'" th:text="'Souss Massa'"></option>
                                            <option value="Ait melloul" th:value="'Ait melloul'" th:text="'Ait Melloul'"></option>
                                            <option value="Azrou" th:value="'Azrou'" th:text="Azrou"></option>
                                            <option value="Tilila" th:value="'Tilila'" th:text="Tilila"></option>
                                        </select>
                                    </div>

                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="GroupeSanguin" th:field="*{groupSanguin}" required>
                                            <option value="A" th:value="'A'">A</option>
                                            <option value="B" th:value="'B'">B</option>
                                            <option value="AB" th:value="'AB'">AB</option>
                                            <option value="O" th:value="'O'">O</option>
                                        </select>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="sexe" value="Male" th:field="*{sexe}" th:value="Male" required> Male
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="sexe" value="Female" th:value="Female" th:field="*{sexe}" required> Female
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                    <div class="card-footer ">
                                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                    </div>
                                    <div class="form-group has-success" th:if="${patientCreated != null}">
                                        <span class="alert text-success" th:text="${patientCreated}"> </span>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<div th:replace="include/js :: js"></div>
</body>

</html>