<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="include/css :: head"></div>
<body class="">
  <div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav th:replace="include/navbar2 :: navbar"></nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="page-categories">
                <h3 class="title text-center">Les Salles d'attentes actives </h3>
                <br />
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item" th:each="medecin : ${medecins}">
                    <a class="nav-link" data-toggle="tab" th:href="|#${medecin.nom}" role="tablist">
                      <i class="material-icons">airline_seat_legroom_extra</i> Salle d'attente <div th:if="${medecin.salleDattente != null}"><span th:text="${medecin.salleDattente.id}"></span></div>
                    </a>
                  </li>
                </ul>
                <div class="tab-content tab-space tab-subcategories">
                  <div class="tab-pane" id="link7" th:each="medecin : ${medecins}" th:id="*{medecin.nom}">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title" th:text="'Dr :' + *{medecin.nom} + ' ' + *{medecin.prenom} "></h4>
                        <p class="card-category">
                          More information here
                        </p>
                      </div>
                      <div class="card-body">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                              <tr>
                                <th class="text-center">Nom</th>
                                <th>Prenom</th>
                                <th>CIN</th>
                                <th>Sexe</th>
                                <th class="text-right">Actions</th>
                              </tr>
                              </thead>
                              <div th:if="${medecin.salleDattente != null}">
                              <tbody>
                              <tr th:each="patient : ${medecin.salleDattente.patientList}">
                                <td class="text-center" th:text="${patient.prenom}"></td>
                                <td th:text="${patient.nom}"></td>
                                <td th:text="${patient.cin}"></td>
                                <td th:text="${patient.sexe}"></td>
                                <td class="td-actions text-right">
                                  <!--Insert button for infoPatient here(for both sec and doc), as well as button to remove from salleDattente(for secretary), button to go to consultation(for doctor), button to go to paiement(for secretary)      -->
                                  <button type="button" rel="tooltip" class="btn btn-info btn-round" >
                                    <i class="material-icons">person</i>
                                  </button>
                                  <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                                    <i class="material-icons">fast_forward</i>
                                  </button>
                                </td>
                              </tr>
                              </tbody>
                              </div>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer th:replace="include/footer :: footer"></footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <div th:replace="include/js :: js"></div>
</body>

</html>