<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar" data-color="azure" data-background-color="white" data-image="/assets/img/sidebar-1.jpg" th:fragment="sidebar-fragment">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-mini">
    SP
  </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Scrinium Project
    </a></div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="/assets/img/faces/avatar.jpg" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                Tania Andrew
                <b class="caret"></b>
              </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Edit Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> S </span>
                <span class="sidebar-normal"> Settings </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#agendaExamples">
          <i class="material-icons">list</i>
          <p> Agenda
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="agendaExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/agenda/index}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Agenda </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/agenda/create}">
                <span class="sidebar-mini"> AE </span>
                <span class="sidebar-normal"> Créer Agenda </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#annonceExamples">
          <i class="material-icons">notifications</i>
          <p> Annonce
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="annonceExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createAnnonce}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Créer une annonce </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/annonces}">
                <span class="sidebar-mini"> AE </span>
                <span class="sidebar-normal"> Liste des annonces </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#adminExamples">
          <i class="material-icons">admin_panel_settings</i>
          <p> Admin
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="adminExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createAdmin}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Créer Administrateur </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createMedecin}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Créer Médecin </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createSecretaire}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Créer Secrétaire </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/adminDashboard}">
                <span class="sidebar-mini"> DA </span>
                <span class="sidebar-normal"> Dashboard Admin </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/secretaires}">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Liste des secrétaires </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/medecins}">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Liste des médecins </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/patients}">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Liste des patients </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#congesExamples">
          <i class="material-icons">perm_identity</i>
          <p> Conges
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="congesExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/conges/index}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Mes Conges </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/conges/create}">
                <span class="sidebar-mini"> DC </span>
                <span class="sidebar-normal"> Demander Conges </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/admin/conges/index}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Tous les Conges </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collsalle">
          <i class="material-icons">airline_seat_legroom_extra</i>
          <p> Salle d'attente <b class="caret"></b> </p>
        </a>
        <div class="collapse" id="collsalle">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createSalle}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer une salle </span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" th:href="@{/salles}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Liste des salles </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collpatient">
          <i class="material-icons">groups</i>
          <p> Patients
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collpatient">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/todayPatient}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Patients d'aujourd'hui </span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" th:href="@{/patients}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Tous les patients </span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createPatient}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer Nouveau Patient </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collrdv">
          <i class="material-icons">today</i>
          <p> Rendez-vous patients
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collrdv">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/allRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List des rendez vous </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer Rendez vous </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/demanderRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Demander un Rendez vous </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/demandesRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Demandes de Rendez vous </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/myRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Mes Rendez vous </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collcons">
          <i class="material-icons">medical_services</i>
          <p> Consultations
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collcons">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/consultations}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List Consultations </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createConsultation}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer consultation </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#colldm">
          <i class="material-icons">folder_copy</i>
          <p> Dossiers medicaux
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="colldm">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/dossier/index}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List dossier medicaux </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/dossier/create}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer dossier Medical </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

     <!-- <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collord">
          <i class="material-icons">medication</i>
          <p> Ordonnance
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collord">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer ordonnance </span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collcm">
          <i class="material-icons">approval</i>
          <p> Certificat medicale
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collcm">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createCertificat}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer certificat medical </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createDemandeCertificat}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Demander un nouveau certificat </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createTypeCertificat}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer type medical </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/certificats}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Voir tous les certificats demandés / accordés </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collpay">
          <i class="material-icons">paid</i>
          <p> Paiement
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collpay">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createPaiement}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer Paiement </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/payments}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Liste Paiements </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#medExamples">
          <i class="material-icons">vaccines</i>
          <p> Medicament
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="medExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createMedicament}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Créer Médicament </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createTypeMedicament}">
                <span class="sidebar-mini"> DC </span>
                <span class="sidebar-normal"> Créer Type de médicament </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createCategorieMedicament}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Créer la catégorie de médicament </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/medicaments}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Liste des médicaments </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      </li>
    </ul>
  </div>
</div>
</body>
</html>