<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar" data-color="azure" data-background-color="white" data-image="/assets/img/sidebar-1.jpg" th:fragment="sidebar-fragment">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-mini">
    CT
  </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a></div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="/assets/img/faces/avatar.jpg" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                Tania Andrew
                <b class="caret"></b>
              </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Edit Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> S </span>
                <span class="sidebar-normal"> Settings </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="../../static/examples/dashboard.html">
          <i class="material-icons">dashboard</i>
          <p> Dashboard </p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#agendaExamples">
          <i class="material-icons">list</i>
          <p> Agenda
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="agendaExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/agenda/index}">
                <span class="sidebar-mini"> E </span>
                <span class="sidebar-normal"> Agenda </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/agenda/create}">
                <span class="sidebar-mini"> AE </span>
                <span class="sidebar-normal"> Créer Agenda </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#congesExamples">
          <i class="material-icons">perm_identity</i>
          <p> Conges
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="congesExamples">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/conges/index}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Mes Conges </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/conges/create}">
                <span class="sidebar-mini"> DC </span>
                <span class="sidebar-normal"> Demander Conges </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/admin/conges/index}">
                <span class="sidebar-mini"> ME </span>
                <span class="sidebar-normal"> Tous les Conges </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/salles}">
          <i class="material-icons">airline_seat_legroom_extra</i>
          <p> Salle d'attente </p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collpatient">
          <i class="material-icons">groups</i>
          <p> Patients
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collpatient">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/todayPatient}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Patients d'aujourd'hui </span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" th:href="@{/patients}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Tous les patients </span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createPatient}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer Nouveau Patient </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collrdv">
          <i class="material-icons">today</i>
          <p> Rendez-vous patients
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collrdv">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/allRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List des rendez vous </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createRendezvous}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Créer Rendez vous </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collcons">
          <i class="material-icons">medical_services</i>
          <p> Consultations
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collcons">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/consultations}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List Consultations </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createConsultation}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer consultation </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#colldm">
          <i class="material-icons">folder_copy</i>
          <p> Dossiers medicaux
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="colldm">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/dossier/index}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> List dossier medicaux </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/dossier/create}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer dossier Medical </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

     <!-- <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collord">
          <i class="material-icons">medication</i>
          <p> Ordonnance
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collord">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer ordonnance </span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->

      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#collcm">
          <i class="material-icons">approval</i>
          <p> Certificat medicale
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="collcm">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/createCertificat}">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Creer certificat medical </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="../../examples/calendar.html">
          <i class="material-icons">date_range</i>
          <p> Calendar </p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>