<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body>

<div class="mx-5 pd-5">
    <form method="POST" action="#" th:action="@{/createRendezvous}" th:object="${rendezvous}" class="mx-5 px-5">
        <fieldset>
            <div class="mb-3">
                <label for="dateRv" class="form-label">Date du rendez vous :</label>
                <input type="date" th:field="*{dateRv}" id="dateRv" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="heure" class="form-label">Heure du rendez vous :</label>
                <input type="time" th:field="*{heure}" id="heure" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Medecin :</label>
                <select th:field="*{medecin}">
                    <option th:each="medecin : ${medecinList}" th:value="${medecin.id}" th:text="${medecin.nom}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Patient :</label>
                <select th:field="*{patient}">
                    <option th:each="patient : ${patientList}" th:value="${patient.id}" th:text="${patient.nom}"></option>
                </select>
            </div>
            <button type="submit" name="create" class="btn btn-primary">Create New Rendez vous</button>
        </fieldset>
    </form>
</div>

</body>
</html>