<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<body class="">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">mail_outline</i>
                                </div>
                                <h4 class="card-title">Stacked Form</h4>
                            </div>
                            <div class="card-body ">
                                <form method="POST" action="#" th:object="${medecin}" th:action="@{/createMedecin}">
                                    <div class="form-group">
                                        <label for="exampleEmail" class="bmd-label-floating">Email Address</label>
                                        <input type="email" class="form-control" id="exampleEmail" th:field="*{email}">
                                    </div>
                                    <div class="form-group has-danger" th:if="${emailMedecinExist != null}">
                                        <span class="alert text-danger" th:text="${emailMedecinExist}"> </span>

                                    </div>
                                    <div class="form-group">
                                        <label for="examplePass" class="bmd-label-floating">Password</label>
                                        <input type="password" class="form-control" id="examplePass" th:field="*{password}">
                                    </div>
                                    <div class="form-group">
                                        <label for="nom" class="bmd-label-floating">First Name</label>
                                        <input type="text" class="form-control" id="nom" th:field="*{nom}">
                                    </div>
                                    <div class="form-group">
                                        <label for="prenom" class="bmd-label-floating">Last Name</label>
                                        <input type="text" class="form-control" id="prenom" th:field="*{prenom}">
                                    </div>
                                    <div class="form-group">
                                        <label for="specialite" class="bmd-label-floating">Spécialité</label>
                                        <input type="text" class="form-control" id="specialite" th:field="*{specialite}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cin" class="bmd-label-floating">CIN</label>
                                        <input type="text" class="form-control" id="cin" th:field="*{cin}">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateNaissance" class="bmd-label-floating">Date Naissance</label>
                                        <input type="date" class="form-control" id="dateNaissance" th:field="*{dateNaissance}" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Region" th:field="*{region}">
                                            <option value="Agadir" th:value="'Agadir'" th:text="Agadir"></option>
                                            <option value="Souss Massa" th:value="'Souss Massa'" th:text="'Souss Massa'"></option>
                                            <option value="Ait melloul" th:value="'Ait melloul'" th:text="'Ait Melloul'"></option>
                                            <option value="Azrou" th:value="'Azrou'" th:text="Azrou"></option>
                                            <option value="Tilila" th:value="'Tilila'" th:text="Tilila"></option>
                                        </select>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="sexe" value="Male" th:field="*{sexe}" th:value="Male"> Male
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="sexe" value="Female" th:value="Female" th:field="*{sexe}"> Female
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                    <div class="card-footer ">
                                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--   Core JS Files   -->
<div th:replace="include/js :: js"></div>
</body>
</html>