<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="include/css :: head"></div>
<body class="" style="background-image: url('/assets/img/login.jpg');">
<div class="wrapper ">
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="wrapper wrapper-full-page">
        <div class="page-header">
        <div class="container-fluid content">
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" sec:authorize="!isAuthenticated()" >
                            <form class="form" method="POST" th:action="@{/login}">
                                <div class="card card-login card-hidden">
                                    <div class="card-body ">
                                        <h3 class="card-description text-center">Welcome to Scrinium, Please log in</h3>
                                        <div th:if="${param.error}">
                                            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                        </div>
                                        <span class="bmd-form-group">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="material-icons">email</i>
                                            </span>
                                          </div>
                                          <input type="email" name="email" class="form-control" placeholder="Email...">
                                        </div>
                                      </span>
                                                            <span class="bmd-form-group">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="material-icons">lock_outline</i>
                                            </span>
                                          </div>
                                          <input type="password" name="password" class="form-control" placeholder="Password...">
                                        </div>
                                      </span>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <input type="submit" class="btn btn-rose btn-link btn-lg">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" sec:authorize="isAuthenticated()" >
                                    <div class="card card-login card-hidden">
                                        <div class="card-body ">
                                            <h2 class="card-description text-center">You are already logged in !</h2>
                                            <h3 class="card-description text-center">Vous êtes déjà connecté !</h3>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="include/js :: js"></div>
</html>