<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/css :: head"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<body class=" ">
<div class="wrapper ">
    <div th:replace="include/sidebar :: sidebar-fragment"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="include/navbar2 :: navbar"></nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Ordonnance -
                                    <small class="description">Créer une ordonnance</small>
                                </h4>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active">
                                        <form method="POST" th:action="@{/createOrdonnance}" th:object="${ordonnance}">
                                            <div class="form-group">
                                                <label class="bmd-label-floating" for="id_patient">Faite pour la consultation du patient :</label>
                                                <div class="col-lg-5 col-md-6 col-sm-3">
                                                    <select th:field="*{consultation}" name="id_patient" id="id_patient" class="form-control" required>
                                                        <option th:value="NULL" th:text="NULL"></option>
                                                        <option th:each="consultation : ${consultations}" th:value="${consultation.id}" th:text="${consultation.rendezvous.patient.nom + ' ' + consultation.rendezvous.patient.prenom + ' - Heure : ' + consultation.rendezvous.heure}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8" style="display: none;" th:each="ordonnanceItem, itemStat : *{ordonnanceItemsList}" th:id="${'showDiv' + itemStat.index}">
                                                    <div class="col-md-12" >
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating" >Médicament :</label>
                                                            <select th:field="*{ordonnanceItemsList[__${itemStat.index}__].medicament}" class="form-control medicament_class" >
                                                                <option th:value="NULL" th:text="NULL"></option>
                                                                <option th:each="medicament : ${medicaments}" th:value="${medicament.id}" th:text="${medicament.codeATC + ' ' + medicament.libelle}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Posologie</label>
                                                            <input type="text" class="form-control" th:field="*{ordonnanceItemsList[__${itemStat.index}__].posologie}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Durée de traitement</label>
                                                            <input type="text" class="form-control" th:field="*{ordonnanceItemsList[__${itemStat.index}__].dureeTraitement}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Nbr de fois par jour</label>
                                                            <input type="text" class="form-control" th:field="*{ordonnanceItemsList[__${itemStat.index}__].nbrFoisParJour}" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Dose</label>
                                                            <input type="text" class="form-control" th:field="*{ordonnanceItemsList[__${itemStat.index}__].dose}" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-rose pull-right">Sauvegarder</button>
                                            <div class="clearfix"></div>

                                        </form>
                                        <button style="display: block;" class="btn btn-success pull-center" id="show">Ajouter Médicament</button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="include/js :: js"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>

    $("#id_patient").select2({
        placeholder: "Selectionner un patient",
        allowClear: true,
        width: '100%'
    });

    $(".medicament_class").select2({
        placeholder: "Selectionner un médicament",
        allowClear: true,
        width: '100%'
    });

    var counter = 0;
    $(document).ready(function() {
        $("#show").click(function () {
            if (counter < 4){
                counter += 1;
                $("#showDiv" + counter).toggle();
            }
            else {
                counter = 0;
                $("#show").toggle();
            }
        })

    })
</script>

</body>
</html>